* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(90deg, #0b0f19 0%, #111827 40%, #0d1117 100%);
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #f0f6fc;

  background: linear-gradient(45deg, #0d1117 0%, #1f3b5f 50%, #0d1117 100%);
  backdrop-filter: blur(12px);

  border-bottom: 2px solid #6d757e;

  padding: 15px 40px;
  border-radius: 10px;
  position: relative;
  z-index: 99999;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  color: #8b949e;
  text-decoration: none;
}

nav a:hover {
  color: #f0f6fc;
  transition: all 0.3s ease;
}

/* scrollable page */
main {
  display: grid;
  margin: 40px;
  border: 20px;
  padding: 40px;
  grid-template-columns: 60% 40%;
}
#content p {
  text-align: justify;
  line-height: 1.5;
  width: 90%;
}

#headshot {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical center */
  align-items: center;
}

#resumeButton {
  text-align: center;
  margin-top: 30px;
  padding: 15px 30px;

  background-color: #08284d;
  color: white;

  border: 2px solid #58a6ff;
  border-radius: 8px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  text-decoration: none;

  transition: 0.3s ease;
}

#resumeButton {
  display: block;
  width: fit-content;
  margin: 30px auto;
}

#resumeButton:hover {
  background: transparent;

  color: white;

  border: 2px solid;

  border-image: linear-gradient(90deg, #58a6ff, #7ee787) 1;

  padding: 15px 15px;
}

/* transition of page animation */
#content {
  transition: opacity 0.5s ease;
}

.fade {
  opacity: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* grettings */
#greetings,
h2,
h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
}

#wordContainer,
#wordContainer1 {
  display: inline-block;
  overflow: visible;
  height: 1em;
  cursor: grab;
}

#word1,
#word3 {
  display: inline-block;
}

#word2,
#word4 {
  display: none;
}

#wordContainer:hover #word1,
#wordContainer1:hover #word3 {
  display: none;
}

#wordContainer:hover #word2,
#wordContainer1:hover #word4 {
  display: inline-block;
}
/* About me */
#aboutMe,
#skillList,
#codingProfileList,
#git,
#leet,
#hack,
#gmail,
#linkedin,
#gitLink {
  margin-top: 20px;
  display: block;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  /* for all section borders */
  background-image:
    linear-gradient(#111827, #111827),
    linear-gradient(90deg, #00f2fe 0%, #4facfe 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#aboutMe:hover,
#skillList:hover,
#git:hover,
#leet:hover,
#hack:hover,
#gmail:hover,
#linkedin:hover,
#gitLink:hover {
  box-shadow:
    0 0 5px rgba(0, 242, 254, 0.4),
    0 0 10px rgba(79, 172, 254, 0.2);
  transition: all 0.3s ease;
}

/* skill list  */
/* coding profile */
#skillList {
  line-height: 2;
}

#codingList {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#git,
#leet,
#hack,
#gmail,
#linkedin,
#gitLink {
  font-size: larger;
  padding: 50px;
}

#linkList {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* profile photo, dp */

#profileFrame {
  position: relative;
  display: inline-block;
}

#profileImage {
  width: 250px;
  display: block;
}

.brace {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "League Spartan", sans-serif;
  font-size: 200px;
  color: #00f2fe;
  user-select: none;
  height: 100%;
  text-shadow: 0 0 12px rgba(0, 242, 254, 0.4);
}

.left {
  left: -65px;
}

.right {
  right: -65px;
}

.left:hover,
.right:hover {
  display: none;
}

#frameName {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid #6d757e;
  border-radius: 10px;
  transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#frameName:hover {
  cursor: grab;
  box-shadow: 0px 2px 2px white;
}

/* Responsive css */

/* nav bar responsive */
.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background: linear-gradient(45deg, #0d1117 0%, #1f3b5f 50%, #0d1117 100%);
  border-left: 2px solid #6d757e;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sideBar li {
  width: 100%;
  padding-left: 20px;
}

.sideBar a {
  width: 100%;
}

.menuButton {
  display: none;
}

.cross {
  padding-top: 10px;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
  main {
    grid-template-columns: 1fr; /* One column */
    grid-template-rows: auto auto;
    margin: 20px;
    padding: 20px;
    gap: 30px;
  }

  #headshot {
    grid-row: 1;
    justify-self: center;
  }

  #content {
    grid-row: 2;
    text-align: center;
  }

  #profileImage {
    width: 220px; /* Adjust to your liking */
    height: auto;
  }

  #codingList,
  #linkList {
    flex-direction: column;
    margin-top: 20px;
    font-size: x-large;
  }

  #frameName {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .sideBar {
    width: 100%;
  }
}
